    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Notes application</title>
    </head>
    <body>

    <a th:href="@{/signoff}">Log out</a>

    <hr />

    <h1>Submit a new note</h1>
    <form action="#" th:action="@{/notes}" method="POST">
        <p><input type="text" name="message" id="message"/></p>
        <p><label for="privateNote">Private note?</label><input type="checkbox" name="privateNote" id="privateNote"/></p>
        <p><input type="submit" value="Submit" /></p>
    </form>

    <hr />

    <h1>Filter notes</h1>
    <form action="#" th:action="@{/notes}" method="GET">
        <p><input type="text" name="filter" id="filter"/></p>
        <p><input type="submit" value="Submit" /></p>
    </form>

    <hr />


    <h1>Notes</h1>
    <ul>
        <li th:each="entry : ${notes}">
            <strong><span th:utext="${entry.user}"></span></strong>
            <em><span th:utext="${entry.message}"></span></em>
        </li>

        <p th:if="${notes.isEmpty()}">No notes, create some!</p>

    </ul>

    </body>
</html>
